.article-list {
  background-color: var(--very-dark-blue);
  padding: var(--spacing-3x);
  margin-top: calc(16 * var(--spacing-1x));
  margin-bottom: var(--spacing-8x);
}

.article-item {
  padding-bottom: var(--spacing-8x);
  margin-bottom: var(--spacing-8x);
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--dark-grayish-blue);
  &:last-child {
    border: 0;
    margin-bottom: 0;
  }
}

.article-list__header {
  color: var(--soft-orange);
  font-size: 2rem;
  font-weight: var(--weight-bold);
  margin-top: var(--spacing-2x);
  margin-bottom: var(--spacing-8x);
}

.article-item__header {
  color: var(--off-white);
  font-size: 1.3rem;
  font-weight: var(--weight-bold);
  margin: 0;
  margin-bottom: var(--spacing-1x);
  &:hover {
    color: var(--soft-red);
    cursor: pointer;
  }
}

.article-item__text {
  color: var(--dark-grayish-blue);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: var(--weight-normal);
  line-height: 1.6;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 1440px) {
  .article-list {
    grid-area: body-article-list;
    margin: 0;
  }
  .article-list__header {
    margin-top: var(--spacing-2x);
    margin-bottom: var(--spacing-3x);
  }
  .article-item {
    padding-bottom: var(--spacing-3x);
    margin-bottom: var(--spacing-3x);
  }
  .article-item__header {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .article-item__text {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
